@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

.App {
  box-sizing: border-box;

  width: 100vw;
  height: 100vh;
  margin: 0;

  text-align: center;
  font-family: 'Open Sans';
  position: relative;
}

.button {
  border: none;
  cursor: pointer;
  color: white;
}

.dark-button {
  background: radial-gradient(circle at 50% -46%,#737373,#403d39);
}

.white-box {
  padding: 20px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgb(116, 116, 116);
}